extends layouts/layout.pug

block title
    title Product card | Elari

block content
    .product-card
        div(class="product-card__container")
            // 1ый слайдер
            .swiper.product-card__swiper-side
                .button-next
                .button-prev
                .swiper-wrapper
                    .swiper-slide
                        img(src="img/content/p-card/slider_0/slide_0.png")
                    .swiper-slide
                        img(src="img/content/p-card/slider_0/slide_1.png")
                    .swiper-slide
                        img(src="img/content/p-card/slider_0/slide_2.png")
                    .swiper-slide
                        img(src="img/content/p-card/slider_0/slide_3.png")
                    .swiper-slide
                        img(src="img/content/p-card/slider_0/slide_4.png")
            .swiper.product-card__swiper-side
                .button-next
                .button-prev
                .swiper-wrapper
                    .swiper-slide
                        img(src="img/content/p-card/slider_1/slide_0.png")
                    .swiper-slide
                        img(src="img/content/p-card/slider_1/slide_1.png")
                    .swiper-slide
                        img(src="img/content/p-card/slider_1/slide_2.png")
                    .swiper-slide
                        img(src="img/content/p-card/slider_1/slide_3.png")
                    .swiper-slide
                        img(src="img/content/p-card/slider_1/slide_4.png")
            .swiper.product-card__swiper-side
                .button-next
                .button-prev
                .swiper-wrapper
                    .swiper-slide
                        img(src="img/content/p-card/slider_2/slide_0.png")
                    .swiper-slide
                        img(src="img/content/p-card/slider_2/slide_1.png")
                    .swiper-slide
                        img(src="img/content/p-card/slider_2/slide_2.png")
                    .swiper-slide
                        img(src="img/content/p-card/slider_2/slide_3.png")
                    .swiper-slide
                        img(src="img/content/p-card/slider_2/slide_4.png")
            .swiper.product-card__swiper-main
                .button-next
                .button-prev
                .swiper-wrapper
                    .swiper-slide
                        img(src="img/content/p-card/slider_0/slide_0.png")
                    .swiper-slide
                        img(src="img/content/p-card/slider_0/slide_1.png")
                    .swiper-slide
                        img(src="img/content/p-card/slider_0/slide_2.png")
                    .swiper-slide
                        img(src="img/content/p-card/slider_0/slide_3.png")
                    .swiper-slide
                        img(src="img/content/p-card/slider_0/slide_4.png")
            .swiper.product-card__swiper-main
                .button-next
                .button-prev
                .swiper-wrapper
                    .swiper-slide
                        img(src="img/content/p-card/slider_1/slide_0.png")
                    .swiper-slide
                        img(src="img/content/p-card/slider_1/slide_1.png")
                    .swiper-slide
                        img(src="img/content/p-card/slider_1/slide_2.png")
                    .swiper-slide
                        img(src="img/content/p-card/slider_1/slide_3.png")
                    .swiper-slide
                        img(src="img/content/p-card/slider_1/slide_4.png")
            .swiper.product-card__swiper-main
                .button-next
                .button-prev
                .swiper-wrapper
                    .swiper-slide
                        img(src="img/content/p-card/slider_2/slide_0.png")
                    .swiper-slide
                        img(src="img/content/p-card/slider_2/slide_1.png")
                    .swiper-slide
                        img(src="img/content/p-card/slider_2/slide_2.png")
                    .swiper-slide
                        img(src="img/content/p-card/slider_2/slide_3.png")
                    .swiper-slide
                        img(src="img/content/p-card/slider_2/slide_4.png")
            div(class="product-card__specs")
                div(class="product-card__specs--item")
                    img(
                        alt="" 
                        src="img/icons/wifi-square.svg"
                        )
                    p 4G LTE Wi-Fi
                div(class="product-card__specs--item")
                    img(
                        alt="" 
                        src="img/icons/location.svg"
                        )
                    p Геолокация
                div(class="product-card__specs--item")
                    img(
                        alt="" 
                        src="img/icons/flash.svg"
                        )
                    p Долго держит заряд
           
        .product-card__wrapper
            .product-card__info
                .product-card__type Детские часы
                h1.product-card__name KidPhone Fresh 4G
                .product-card__price#bx_117848907_621_price 6 990 990 ₽

            .product-card__box#bx_117848907_621_skudiv
                .product-card__colors(data-entity="sku-line-block")
                    .product-card__colors-title Цвет

                    ul.product-card__colors-list
                        li.product-card__colors-item(data-onevalue="18" data-treevalue="276_18" title="Желтый" style="background-image: url('img/content/product-colors/yellow.jpg');")
                        li.product-card__colors-item(data-onevalue="17" data-treevalue="276_17" title="Зеленый" style="background-image: url('img/content/product-colors/green.jpg');")
                        li.product-card__colors-item(data-onevalue="7" data-treevalue="276_7" title="Красный" style="background-image: url('img/content/product-colors/red.jpg');")

                .product-card__actions
                    a.detail_to_cart.product-card__add-cart#bx_117848907_621_add_basket_link(href="javascript:void(0);")
                        img(alt="" src="img/icons/bag.svg")
                        span Добавить в корзину
                                
            p.product-card__annonce Яркие и надежные  4G смарт-часы с GPS, аудио-видеозвонками, голосовым чатом, и удобной зарядкой USB-C.
            
            p.product-card__annonce 
                | Доставка по Москве курьером или самовывозом на следующий день. Вне Москвы - рекомендуем Вам приобрести на Озоне. промокод ELARI15 из сундучка не сможете там применить, но там неплохие цены - и много вариантов быстрой доставки
                <br />
                <a class="" href="https://bit.ly/kidgram_watch_blck_Ozon"  rel="nofollow">KidGram Watch черные</a>
                <br>
                <a class="" href="https://bit.ly/kidgram_watch_pink_Ozon"  rel="nofollow">KidGram Watch розовые</a>
                <br>
                <a class="" href="https://bit.ly/kidgram_watch_blue_Ozon"  rel="nofollow">KidGram Watch синие</a>

            .product-card__tabs-container
                .product-card__tab Описание
                .product-card__tab Характеристики

            .product-card__tab-content
                .product-card__desc
                    p ELARI Fresh 4G – это бестселлер ELARI теперь с возможностями 4G и видеозвонками.
                    p(style="font-weight: bold;") Экран и общение.
                    p Большой яркий IPS экран с диагональю 1.4 дюйма и разрешением 240x240 пикселей, насыщенными цветами и фруктовым интерфейсом. Ребёнку доступны аудио- и видеозвонки на 4G скоростях с/на разрешённые родителями номера, а также обмен голосовыми сообщениями и эмодзи. Виброрежим позволит не беспокоить окружающих, если ребёнок на занятии.
                    p(style="font-weight: bold;") Безопасность.
                    p Родителям доступен аудиомониторинг – скрытый звонок с часов на смартфон, который не потревожит ребёнка и позволит убедиться, что с ним всё хорошо. Фотомониторинг позволит сделать скрытое фото на камеру часов и оценить обстановку. В экстренной ситуации ребёнок может подать сигнал SOS зажатием кнопки, а родители получат уведомление и 30-секундную запись с микрофона часов.
                    p(style="font-weight: bold;") Контроль.
                    p Родители могут настраивать и контролировать часы в бесплатном приложении для смартфона ELARI SafeFamily с круглосуточным чатом поддержки. GPS/A-GPS/LBS/Wi-Fi-геолокация позволяет отслеживать местоположение ребёнка на карте, устанавливать до 5 безопасных геозон и получать уведомления, если ребёнок из них выйдет. Родители также могут дистанционно ставить будильники, включать режим «на занятиях» и многое другое.
                    p(style="font-weight: bold;") Приложения и качество.
                    p Ребёнок может делать фотографии на встроенную камеру и делиться с родителями. Арифметическая игра научит быстро считать в уме, а с шагомером ребёнок будет отслеживать свою подвижность. Можно добавлять в друзья другие часы ELARI Fresh 4G и KidPhone 4G Lite. Часы надёжно защищены от пыли и брызг. Удобная зарядка через универсальный USB Type-C – подойдёт почти любой домашний провод.
            
            .product-card__tab-content
                .product-card__futures
                    h2
                    .product-card__futures--item
                        p Модель
                        span KP-4G F
                    .product-card__futures--item
                        p Гарантия
                        span 1 год
                    .product-card__futures--item
                        p Срок службы
                        span 2 года

                .product-card__futures
                    h2 Внешний вид
                    .product-card__futures--item
                        p Материал корпуса
                        span ABS пластик
                    div(
                        class="offer_dop_props" 
                        style="display: none;" 
                        id="offer_dop_props"
                        )

                .product-card__futures
                    h2 Экран
                    .product-card__futures--item
                        p Вид стекла
                        span стандартное

                .product-card__futures
                    h2 Связь
                    .product-card__futures--item
                        p Категория LTE
                        span Cat. 1

                .product-card__futures
                    h2 Камеры
                    .product-card__futures--item
                        p Основная камера
                        span 0.3mp

                .product-card__futures
                    h2 Система
                    .product-card__futures--item
                        p Объем оперативной памяти
                        span 16mb
                    .product-card__futures--item
                        p Объем встроенной памяти
                        span 24mb
                    .product-card__futures--item
                        p Динамики
                        span да
                    .product-card__futures--item
                        p Вибромотор
                        span да

                .product-card__futures
                    h2 Датчики
                    .product-card__futures--item
                        p Акселерометр
                        span да
                    .product-card__futures--item
                        p Датчик снятия с руки
                        span нет

                .product-card__futures
                    h2 Фукнциональная безопасность
                    .product-card__futures--item
                        p SOS
                        span Кнопка
                    .product-card__futures--item
                        p Запрет контента
                        span нет
                    .product-card__futures--item
                        p Разрешенные геозоны
                        span до 5 штук

                .product-card__futures
                    h2 Функциональные возможности
                    .product-card__futures--item
                        p Совместимые ОС
                        span Android 4.4 и выше \ iOS 15 и выше
                    .product-card__futures--item
                        p Управляющее приложение
                        span ELARI SafeFamily
                    .product-card__futures--item
                        p Аудиомониторинг
                        span да
                    .product-card__futures--item
                        p Фотомониторинг
                        span да
                    .product-card__futures--item
                        p Текстовые сообщения
                        span нет
                    .product-card__futures--item
                        p Голосовые сообщения
                        span да
                    .product-card__futures--item
                        p Шагомер
                        span да
                    .product-card__futures--item
                        p Игры
                        span да

                .product-card__futures
                    h2 Вес и размер
                    .product-card__futures--item
                        p Вес товара без упаковки (г)
                        span 43,4
                    .product-card__futures--item
                        p Толщина корпуса
                        span 1.42см

                .product-card__futures
                    .product-card__futures--item
                        p Модель
                        span KP-4G F
                    .product-card__futures--item
                        p Гарантия
                        span 1 год
                    .product-card__futures--item
                        p Срок службы
                        span 2 года
                    .product-card__futures--item
                        p Материал корпуса
                        span ABS пластик
                    .product-card__futures--item
                        p Вид стекла
                        span стандартное
                    .product-card__futures--item
                        p Категория LTE
                        span Cat. 1
                    .product-card__futures--item
                        p Основная камера
                        span 0.3mp
                    .product-card__futures--item
                        p Объем оперативной памяти
                        span 16mb
                    .product-card__futures--item
                        p Объем встроенной памяти
                        span 24mb
                    .product-card__futures--item
                        p Динамики
                        span да
                    .product-card__futures--item
                        p Вибромотор
                        span да
                    .product-card__futures--item
                        p Акселерометр
                        span да
                    .product-card__futures--item
                        p Датчик снятия с руки
                        span нет
                    .product-card__futures--item
                        p SOS
                        span Кнопка
                    .product-card__futures--item
                        p Запрет контента
                        span нет
                    .product-card__futures--item
                        p Разрешенные геозоны
                        span до 5 штук
                    .product-card__futures--item
                        p Совместимые ОС
                        span Android 4.4 и выше \ iOS 15 и выше
                    .product-card__futures--item
                        p Управляющее приложение
                        span ELARI SafeFamily
                    .product-card__futures--item
                        p Аудиомониторинг
                        span да
                    .product-card__futures--item
                        p Фотомониторинг
                        span да
                    .product-card__futures--item
                        p Текстовые сообщения
                        span нет
                    .product-card__futures--item
                        p Голосовые сообщения
                        span да
                    .product-card__futures--item
                        p Шагомер
                        span да
                    .product-card__futures--item
                        p Игры
                        span да
                    .product-card__futures--item
                        p ОС Устройства
                        span RTOS
                    .product-card__futures--item
                        p Вес товара без упаковки (г)
                        span 43,4
                    .product-card__futures--item
                        p Толщина корпуса
                        span 1.42см

            .recommended.product-card__recommended
                .recommended__head
                    h2.recommended__title Вам также может понравиться

                .slider-wrapper
                    .recommended__slider
                        .swiper-wrapper
                            .product
                                .product__body
                                    a.product__link(href="p-card.html" title="Go to product")

                                    .product__labels
                                        .product__labels-item.-purple- Новинка
                                        .product__labels-item.-green- Хит продаж

                                    .product__img--wrap(style="background: #F0EEF7")
                                        img.product__img(src="img/content/catalog/product_0.png" width="213" height="213" alt="Name product")

                                        ul.product__colors-list
                                            li.product__colors-item.product__colors-item--active(style="background-image: url('img/content/product-colors/black.jpg');")
                                            li.product__colors-item(style="background-image: url('img/content/product-colors/pink.jpg');")
                                            li.product__colors-item(style="background-image: url('img/content/product-colors/blue.jpg');")

                                    .product__info
                                        .product__title KidGram Watch
                                        .product__desc Новые и самые доступные часы ELARI на Android 8.1 , со всем расширенным функционалом ELARI и партнеров
                                        .product__price.price
                                            .price__current 7990 р

                                        .product__nav
                                            button.btn.btn--border-accent.product__btn(aria-label="Add cart") Добавить в корзину

                            .product
                                .product__body
                                    a.product__link(href="p-card.html" title="Go to product")

                                    .product__labels
                                        .product__labels-item.-purple- Новинка
                                        .product__labels-item.-green- Хит продаж

                                    .product__img--wrap(style="background: #F0EEF7")
                                        img.product__img(src="img/content/catalog/product_0.png" width="213" height="213" alt="Name product")

                                        ul.product__colors-list
                                            li.product__colors-item.product__colors-item--active(style="background-image: url('img/content/product-colors/black.jpg');")
                                            li.product__colors-item(style="background-image: url('img/content/product-colors/pink.jpg');")
                                            li.product__colors-item(style="background-image: url('img/content/product-colors/blue.jpg');")

                                    .product__info
                                        .product__title KidGram Watch
                                        .product__desc Новые и самые доступные часы ELARI на Android 8.1 , со всем расширенным функционалом ELARI и партнеров
                                        .product__price.price
                                            .price__current 7990 р

                                        .product__nav
                                            button.btn.btn--border-accent.product__btn(aria-label="Add cart") Добавить в корзину

                            .product
                                .product__body
                                    a.product__link(href="p-card.html" title="Go to product")

                                    .product__labels
                                        .product__labels-item.-purple- Новинка
                                        .product__labels-item.-green- Хит продаж

                                    .product__img--wrap(style="background: #F0EEF7")
                                        img.product__img(src="img/content/catalog/product_0.png" width="213" height="213" alt="Name product")

                                        ul.product__colors-list
                                            li.product__colors-item.product__colors-item--active(style="background-image: url('img/content/product-colors/black.jpg');")
                                            li.product__colors-item(style="background-image: url('img/content/product-colors/pink.jpg');")
                                            li.product__colors-item(style="background-image: url('img/content/product-colors/blue.jpg');")

                                    .product__info
                                        .product__title KidGram Watch
                                        .product__desc Новые и самые доступные часы ELARI на Android 8.1 , со всем расширенным функционалом ELARI и партнеров
                                        .product__price.price
                                            .price__current 7990 р

                                        .product__nav
                                            button.btn.btn--border-accent.product__btn(aria-label="Add cart") Добавить в корзину

                            .product
                                .product__body
                                    a.product__link(href="p-card.html" title="Go to product")

                                    .product__labels
                                        .product__labels-item.-purple- Новинка
                                        .product__labels-item.-green- Хит продаж

                                    .product__img--wrap(style="background: #F0EEF7")
                                        img.product__img(src="img/content/catalog/product_0.png" width="213" height="213" alt="Name product")

                                        ul.product__colors-list
                                            li.product__colors-item.product__colors-item--active(style="background-image: url('img/content/product-colors/black.jpg');")
                                            li.product__colors-item(style="background-image: url('img/content/product-colors/pink.jpg');")
                                            li.product__colors-item(style="background-image: url('img/content/product-colors/blue.jpg');")

                                    .product__info
                                        .product__title KidGram Watch
                                        .product__desc Новые и самые доступные часы ELARI на Android 8.1 , со всем расширенным функционалом ELARI и партнеров
                                        .product__price.price
                                            .price__current 7990 р

                                        .product__nav
                                            button.btn.btn--border-accent.product__btn(aria-label="Add cart") Добавить в корзину

                            .product
                                .product__body
                                    a.product__link(href="p-card.html" title="Go to product")

                                    .product__labels
                                        .product__labels-item.-purple- Новинка
                                        .product__labels-item.-green- Хит продаж

                                    .product__img--wrap(style="background: #F0EEF7")
                                        img.product__img(src="img/content/catalog/product_0.png" width="213" height="213" alt="Name product")

                                        ul.product__colors-list
                                            li.product__colors-item.product__colors-item--active(style="background-image: url('img/content/product-colors/black.jpg');")
                                            li.product__colors-item(style="background-image: url('img/content/product-colors/pink.jpg');")
                                            li.product__colors-item(style="background-image: url('img/content/product-colors/blue.jpg');")

                                    .product__info
                                        .product__title KidGram Watch
                                        .product__desc Новые и самые доступные часы ELARI на Android 8.1 , со всем расширенным функционалом ELARI и партнеров
                                        .product__price.price
                                            .price__current 7990 р

                                        .product__nav
                                            button.btn.btn--border-accent.product__btn(aria-label="Add cart") Добавить в корзину

                    




