extends layouts/layout.pug

block title
    title Product card | Elari

block content
    .product-card
        div(class="product-card__container")
            // 1ый слайдер
            .swiper(class="product-card__swiper-side")
                .button-next
                .button-prev
                .swiper-wrapper
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/563/nzyr0mxoaen6zi6m4yqp6xf3snzqgoky.png")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/92c/rpm79xl1byiz8sx4zyfqmqraugjbi85x.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/39c/6yb5d64ulfy92db25mmp6pbl3x6rz3gx.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/d06/lrbafb70itwpsm2k8a0kv35wpo3q5yyv.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/531/o5dxao6iufieaza095il3f93szxgj4zk.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/0d7/w27sf0h3thnd3lzvwlv4josy9csn6l5e.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/77a/k1plzwdfvdpa4xvt61iel4jqcgvv038b.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/fea/ff76znevaw439n5333cvj3ew767s3d63.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/125/mw34xn5tkrtx5yidcywdvnrozat4vup1.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/ec4/a8yxgr6gxk0e3tq4aasj9c5osfqcr6io.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/edc/wal5xbo4key8t4h226bsiu2ku3eyfqmr.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/483/wzms7ei4yfqx42qafceywhfc2vb5vs7l.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/f63/hd36g3kb14ocayb8ytkzz1sp52wgtqk7.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/7d6/eot1th33yoif89v3t60h0pycl3zikd94.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/aba/ak9gl34r69xt4h6jjhndyx2jjkjjuedq.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/c3e/21ahh7a81k4cq3qszuew2k6d013zbmok.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/e7e/fpe6yhu7f74nrsijc7k07lh2ibf9nqyp.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/0b3/o44abzmou20211hfdnpse0fw9s6obnf1.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/75e/gplimgpwcf5e0ehri6a5s450cdwj5aj5.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/36a/3n9g09uzgjtni4myslxti0bc1z3seco2.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/a09/2szfuz15qzy02aqqodulhuqz5albvvqo.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/955/0qem391hsepxcdlihxcxtv1yxexvfuv5.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/eea/jlkw16mzsm3tg2ge5vi2ucgkw5psy6m0.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/041/ds8dpic2dhfcrsqdtruu3tvr3e9htq3k.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/293/uuh1wvq55a450pztyvn4wlzzkcg19zb0.jpg")
            .swiper(class="product-card__swiper-side")
                .button-next
                .button-prev
                .swiper-wrapper
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/0fc/ryyhscfx5ze5uv8d94upjtqmk6pyww6n.png")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/038/vujx6ur7fa9u2ysr8drtm2w6bggt3juf.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/cd9/aygaivcg97xnucgy36kix48kd42cxsky.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/1c1/sp1wmacngskt9u982k0cfi539lp4fala.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/385/08fq3hxji13bidl7ynn9qy150v9jle3j.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/243/rwkib8gvfb7jxmbzddlw7naldi0mfg89.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/75f/jookoz9xgnkfmf4r3i4xrpbg5suab4ac.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/5ac/0sxvcphz0gdesz9hprggjvamyekznea9.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/97a/wz3qqlxnhcg9a1a9v7eq281wbqxh37sz.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/bb0/blr50shmm36225r4cmvyu898ft844dj3.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/bf5/drjev598upi22i5f8ejv1o7q11ck1a1c.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/26d/5imb1b6x8pbl8k805wretio605p7awqe.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/e2b/o0duuy6zem0xce0mbwwq5k2d0472hz62.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/053/vloxwf065kw72v57fxw3myns97f1rvm9.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/c2a/2soptwo60db3hru1yrjkk5xyytj227y9.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/710/uvf2yzecikap19t6sxlswgosm3xywl8r.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/2e3/oinsni40o63cds3m9s8qeidmmblr1pyj.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/537/h6tkk3ckfuhq1xsz4g6t2pwqyejavjrc.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/f84/m3ssf06wdnxop0gxq03d5hjbbecx0nzr.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/823/vryvjsend4k1q3k79emawz6c5ryozxoj.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/412/vdxnzglzgfpwpl7f7hcu8jgtwe91m5t8.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/8ce/r04xesaa0zhi1jzanfvecsz32oe0n2xv.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/877/dt63v5w1rnp1zoeubpzq9kxv6quo9i07.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/8c4/9a0el6ky4ucoing9u63ssi6l50du7coo.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/90e/4zuoh58qo5323bkzou81sodbhxk0sxmi.jpg")
            .swiper(class="product-card__swiper-side")
                .button-next
                .button-prev
                .swiper-wrapper
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/e81/xhhxyqnwbk92uc81pqd2jys3glqvmmhp.png")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/ba3/e347qilb4emo3j44uv7t96y1drhirbtc.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/e01/jw7qbbb6jk162musbvlod2l2rjlnyndd.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/629/fww80lfwnhmfrpx0qaq2br2n8hwn9su8.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/c98/tvap6r619zw9aaiv80aurjdosv5hz8uy.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/23e/5roovyiolaaga6qsr418usubegyd8dyc.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/0d0/zjyv6t5helozdyqs3devqbo70t1yzt20.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/f77/nvlq35ojqfdw6yipeyofj4oa69xe4jnr.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/62f/1cfecndk4w7qnynup6laoyydxmzw8j1c.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/65b/evxnzyht38adnq34qkfoe6djdu2ceogj.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/b21/9vorlcssm7e06tciag4wtu6vatkkzwk6.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/2a0/461ha7pwy5f89uio5f1x2j17ni78ffuv.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/92d/arzjocqncfrz3wskm1xzuk1u8qbp8uaq.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/9f0/bbrp12fvgqx1l1bs1peef0w19q54bx62.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/63d/b4d9i2qkrmvovye13k7qtv2u7fj19tkm.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/723/lfpsipiax2gcjemx4d5nv3j8gpkedi43.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/bae/lk95ywg70jmvw4nin4zzwvr1nnj57bo5.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/cf6/zb67h6pvgveeffqpqu8zxsu3l3iunq77.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/b0c/f0lmh3temwk070gbyy97smcm5p2sx8v2.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/6af/qw3q0ao3cmdxz8sjbs0yortli41k1u6e.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/5e5/poh923tdzx6tu0kz2j2vaziu2lftj25u.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/b04/lducrazvm1x85zx933fp9brhqtj4r5f1.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/af1/pkp02t6kulmwrma06wjwrlqu5r20los9.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/939/r1eznvkeey17gc4vssemf3gavdtg24ry.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/5ff/aqgrn2nih9awnq6v1b9qr0uwfbefadiz.jpg")
            .swiper(class="product-card__swiper-main")
                .button-next
                .button-prev
                .swiper-wrapper
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/563/nzyr0mxoaen6zi6m4yqp6xf3snzqgoky.png")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/92c/rpm79xl1byiz8sx4zyfqmqraugjbi85x.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/39c/6yb5d64ulfy92db25mmp6pbl3x6rz3gx.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/d06/lrbafb70itwpsm2k8a0kv35wpo3q5yyv.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/531/o5dxao6iufieaza095il3f93szxgj4zk.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/0d7/w27sf0h3thnd3lzvwlv4josy9csn6l5e.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/77a/k1plzwdfvdpa4xvt61iel4jqcgvv038b.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/fea/ff76znevaw439n5333cvj3ew767s3d63.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/125/mw34xn5tkrtx5yidcywdvnrozat4vup1.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/ec4/a8yxgr6gxk0e3tq4aasj9c5osfqcr6io.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/edc/wal5xbo4key8t4h226bsiu2ku3eyfqmr.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/483/wzms7ei4yfqx42qafceywhfc2vb5vs7l.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/f63/hd36g3kb14ocayb8ytkzz1sp52wgtqk7.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/7d6/eot1th33yoif89v3t60h0pycl3zikd94.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/aba/ak9gl34r69xt4h6jjhndyx2jjkjjuedq.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/c3e/21ahh7a81k4cq3qszuew2k6d013zbmok.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/e7e/fpe6yhu7f74nrsijc7k07lh2ibf9nqyp.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/0b3/o44abzmou20211hfdnpse0fw9s6obnf1.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/75e/gplimgpwcf5e0ehri6a5s450cdwj5aj5.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/36a/3n9g09uzgjtni4myslxti0bc1z3seco2.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/a09/2szfuz15qzy02aqqodulhuqz5albvvqo.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/955/0qem391hsepxcdlihxcxtv1yxexvfuv5.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/eea/jlkw16mzsm3tg2ge5vi2ucgkw5psy6m0.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/041/ds8dpic2dhfcrsqdtruu3tvr3e9htq3k.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/293/uuh1wvq55a450pztyvn4wlzzkcg19zb0.jpg")
            .swiper(class="product-card__swiper-main")
                .button-next
                .button-prev
                .swiper-wrapper
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/0fc/ryyhscfx5ze5uv8d94upjtqmk6pyww6n.png")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/038/vujx6ur7fa9u2ysr8drtm2w6bggt3juf.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/cd9/aygaivcg97xnucgy36kix48kd42cxsky.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/1c1/sp1wmacngskt9u982k0cfi539lp4fala.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/385/08fq3hxji13bidl7ynn9qy150v9jle3j.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/243/rwkib8gvfb7jxmbzddlw7naldi0mfg89.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/75f/jookoz9xgnkfmf4r3i4xrpbg5suab4ac.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/5ac/0sxvcphz0gdesz9hprggjvamyekznea9.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/97a/wz3qqlxnhcg9a1a9v7eq281wbqxh37sz.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/bb0/blr50shmm36225r4cmvyu898ft844dj3.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/bf5/drjev598upi22i5f8ejv1o7q11ck1a1c.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/26d/5imb1b6x8pbl8k805wretio605p7awqe.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/e2b/o0duuy6zem0xce0mbwwq5k2d0472hz62.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/053/vloxwf065kw72v57fxw3myns97f1rvm9.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/c2a/2soptwo60db3hru1yrjkk5xyytj227y9.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/710/uvf2yzecikap19t6sxlswgosm3xywl8r.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/2e3/oinsni40o63cds3m9s8qeidmmblr1pyj.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/537/h6tkk3ckfuhq1xsz4g6t2pwqyejavjrc.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/f84/m3ssf06wdnxop0gxq03d5hjbbecx0nzr.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/823/vryvjsend4k1q3k79emawz6c5ryozxoj.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/412/vdxnzglzgfpwpl7f7hcu8jgtwe91m5t8.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/8ce/r04xesaa0zhi1jzanfvecsz32oe0n2xv.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/877/dt63v5w1rnp1zoeubpzq9kxv6quo9i07.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/8c4/9a0el6ky4ucoing9u63ssi6l50du7coo.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/90e/4zuoh58qo5323bkzou81sodbhxk0sxmi.jpg")
            .swiper(class="product-card__swiper-main")
                .button-next
                .button-prev
                .swiper-wrapper
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/e81/xhhxyqnwbk92uc81pqd2jys3glqvmmhp.png")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/ba3/e347qilb4emo3j44uv7t96y1drhirbtc.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/e01/jw7qbbb6jk162musbvlod2l2rjlnyndd.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/629/fww80lfwnhmfrpx0qaq2br2n8hwn9su8.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/c98/tvap6r619zw9aaiv80aurjdosv5hz8uy.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/23e/5roovyiolaaga6qsr418usubegyd8dyc.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/0d0/zjyv6t5helozdyqs3devqbo70t1yzt20.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/f77/nvlq35ojqfdw6yipeyofj4oa69xe4jnr.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/62f/1cfecndk4w7qnynup6laoyydxmzw8j1c.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/65b/evxnzyht38adnq34qkfoe6djdu2ceogj.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/b21/9vorlcssm7e06tciag4wtu6vatkkzwk6.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/2a0/461ha7pwy5f89uio5f1x2j17ni78ffuv.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/92d/arzjocqncfrz3wskm1xzuk1u8qbp8uaq.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/9f0/bbrp12fvgqx1l1bs1peef0w19q54bx62.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/63d/b4d9i2qkrmvovye13k7qtv2u7fj19tkm.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/723/lfpsipiax2gcjemx4d5nv3j8gpkedi43.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/bae/lk95ywg70jmvw4nin4zzwvr1nnj57bo5.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/cf6/zb67h6pvgveeffqpqu8zxsu3l3iunq77.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/b0c/f0lmh3temwk070gbyy97smcm5p2sx8v2.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/6af/qw3q0ao3cmdxz8sjbs0yortli41k1u6e.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/5e5/poh923tdzx6tu0kz2j2vaziu2lftj25u.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/b04/lducrazvm1x85zx933fp9brhqtj4r5f1.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/af1/pkp02t6kulmwrma06wjwrlqu5r20los9.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/939/r1eznvkeey17gc4vssemf3gavdtg24ry.jpg")
                    .swiper-slide
                        img(src="http://89.169.128.214/upload/iblock/5ff/aqgrn2nih9awnq6v1b9qr0uwfbefadiz.jpg")
            div(class="product-card__specs")
                div(class="product-card__specs--item")
                    img(
                        alt="" 
                        src="http://89.169.128.214/local/templates/elari/img_new/icon/wifi-square.svg"
                        )
                    p 4G LTE Wi-Fi
                div(class="product-card__specs--item")
                    img(
                        alt="" 
                        src="http://89.169.128.214/local/templates/elari/img_new/icon/location.svg"
                        )
                    p Геолокация
                div(class="product-card__specs--item")
                    img(
                        alt="" 
                        src="http://89.169.128.214/local/templates/elari/img_new/icon/flash.svg"
                        )
                    p Долго держит заряд
           
        .product-card__wrapper
            .product-card__info
                .product-card__type Детские часы
                h1.product-card__name KidPhone Fresh 4G
                .product-card__price#bx_117848907_621_price 6 990 990 ₽

            .product-card__box#bx_117848907_621_skudiv
                .product-card__colors(data-entity="sku-line-block")
                    .product-card__colors-title Цвет

                    ul.product-card__colors-list
                        li.product-card__colors-item(data-onevalue="18" data-treevalue="276_18" title="Желтый" style="background-image: url('http://89.169.128.214/upload/uf/367/367404e1e07c8194a7314d8cd75bdec0.jpg');")
                        li.product-card__colors-item(data-onevalue="17" data-treevalue="276_17" title="Зеленый" style="background-image: url('http://89.169.128.214/upload/uf/a19/a194a9864231baef3d142caf4c5f40aa.jpg');")
                        li.product-card__colors-item(data-onevalue="7" data-treevalue="276_7" title="Красный" style="background-image: url('http://89.169.128.214/upload/uf/5f6/5f66366aed434a6964e4746aff3b3be9.jpg');")

                .product-card__actions
                    a.detail_to_cart.product-card__add-cart#bx_117848907_621_add_basket_link(href="javascript:void(0);")
                        img(alt="" src="http://89.169.128.214/local/templates/elari/img_new/icon/bag.svg")
                        span Добавить в корзину
                                
            p.product-card__annonce Яркие и надежные  4G смарт-часы с GPS, аудио-видеозвонками, голосовым чатом, и удобной зарядкой USB-C.
            
            p.product-card__annonce 
                | Доставка по Москве курьером или самовывозом на следующий день. Вне Москвы - рекомендуем Вам приобрести на Озоне. промокод ELARI15 из сундучка не сможете там применить, но там неплохие цены - и много вариантов быстрой доставки
                <br />
                <a class="" href="https://bit.ly/kidgram_watch_blck_Ozon"  rel="nofollow">KidGram Watch черные</a>
                <br>
                <a class="" href="https://bit.ly/kidgram_watch_pink_Ozon"  rel="nofollow">KidGram Watch розовые</a>
                <br>
                <a class="" href="https://bit.ly/kidgram_watch_blue_Ozon"  rel="nofollow">KidGram Watch синие</a>

            .product-card__tabs-container
                .product-card__tab Описание
                .product-card__tab Характеристики

            .product-card__tab-content
                .product-card__desc
                    p ELARI Fresh 4G – это бестселлер ELARI теперь с возможностями 4G и видеозвонками.
                    p(style="font-weight: bold;") Экран и общение.
                    p Большой яркий IPS экран с диагональю 1.4 дюйма и разрешением 240x240 пикселей, насыщенными цветами и фруктовым интерфейсом. Ребёнку доступны аудио- и видеозвонки на 4G скоростях с/на разрешённые родителями номера, а также обмен голосовыми сообщениями и эмодзи. Виброрежим позволит не беспокоить окружающих, если ребёнок на занятии.
                    p(style="font-weight: bold;") Безопасность.
                    p Родителям доступен аудиомониторинг – скрытый звонок с часов на смартфон, который не потревожит ребёнка и позволит убедиться, что с ним всё хорошо. Фотомониторинг позволит сделать скрытое фото на камеру часов и оценить обстановку. В экстренной ситуации ребёнок может подать сигнал SOS зажатием кнопки, а родители получат уведомление и 30-секундную запись с микрофона часов.
                    p(style="font-weight: bold;") Контроль.
                    p Родители могут настраивать и контролировать часы в бесплатном приложении для смартфона ELARI SafeFamily с круглосуточным чатом поддержки. GPS/A-GPS/LBS/Wi-Fi-геолокация позволяет отслеживать местоположение ребёнка на карте, устанавливать до 5 безопасных геозон и получать уведомления, если ребёнок из них выйдет. Родители также могут дистанционно ставить будильники, включать режим «на занятиях» и многое другое.
                    p(style="font-weight: bold;") Приложения и качество.
                    p Ребёнок может делать фотографии на встроенную камеру и делиться с родителями. Арифметическая игра научит быстро считать в уме, а с шагомером ребёнок будет отслеживать свою подвижность. Можно добавлять в друзья другие часы ELARI Fresh 4G и KidPhone 4G Lite. Часы надёжно защищены от пыли и брызг. Удобная зарядка через универсальный USB Type-C – подойдёт почти любой домашний провод.
            
            .product-card__tab-content
                .product-card__futures
                    h2
                    .product-card__futures--item
                        p Модель
                        span KP-4G F
                    .product-card__futures--item
                        p Гарантия
                        span 1 год
                    .product-card__futures--item
                        p Срок службы
                        span 2 года

                .product-card__futures
                    h2 Внешний вид
                    .product-card__futures--item
                        p Материал корпуса
                        span ABS пластик
                    div(
                        class="offer_dop_props" 
                        style="display: none;" 
                        id="offer_dop_props"
                        )

                .product-card__futures
                    h2 Экран
                    .product-card__futures--item
                        p Вид стекла
                        span стандартное

                .product-card__futures
                    h2 Связь
                    .product-card__futures--item
                        p Категория LTE
                        span Cat. 1

                .product-card__futures
                    h2 Камеры
                    .product-card__futures--item
                        p Основная камера
                        span 0.3mp

                .product-card__futures
                    h2 Система
                    .product-card__futures--item
                        p Объем оперативной памяти
                        span 16mb
                    .product-card__futures--item
                        p Объем встроенной памяти
                        span 24mb
                    .product-card__futures--item
                        p Динамики
                        span да
                    .product-card__futures--item
                        p Вибромотор
                        span да

                .product-card__futures
                    h2 Датчики
                    .product-card__futures--item
                        p Акселерометр
                        span да
                    .product-card__futures--item
                        p Датчик снятия с руки
                        span нет

                .product-card__futures
                    h2 Фукнциональная безопасность
                    .product-card__futures--item
                        p SOS
                        span Кнопка
                    .product-card__futures--item
                        p Запрет контента
                        span нет
                    .product-card__futures--item
                        p Разрешенные геозоны
                        span до 5 штук

                .product-card__futures
                    h2 Функциональные возможности
                    .product-card__futures--item
                        p Совместимые ОС
                        span Android 4.4 и выше \ iOS 15 и выше
                    .product-card__futures--item
                        p Управляющее приложение
                        span ELARI SafeFamily
                    .product-card__futures--item
                        p Аудиомониторинг
                        span да
                    .product-card__futures--item
                        p Фотомониторинг
                        span да
                    .product-card__futures--item
                        p Текстовые сообщения
                        span нет
                    .product-card__futures--item
                        p Голосовые сообщения
                        span да
                    .product-card__futures--item
                        p Шагомер
                        span да
                    .product-card__futures--item
                        p Игры
                        span да

                .product-card__futures
                    h2 Вес и размер
                    .product-card__futures--item
                        p Вес товара без упаковки (г)
                        span 43,4
                    .product-card__futures--item
                        p Толщина корпуса
                        span 1.42см

                .product-card__futures
                    .product-card__futures--item
                        p Модель
                        span KP-4G F
                    .product-card__futures--item
                        p Гарантия
                        span 1 год
                    .product-card__futures--item
                        p Срок службы
                        span 2 года
                    .product-card__futures--item
                        p Материал корпуса
                        span ABS пластик
                    .product-card__futures--item
                        p Вид стекла
                        span стандартное
                    .product-card__futures--item
                        p Категория LTE
                        span Cat. 1
                    .product-card__futures--item
                        p Основная камера
                        span 0.3mp
                    .product-card__futures--item
                        p Объем оперативной памяти
                        span 16mb
                    .product-card__futures--item
                        p Объем встроенной памяти
                        span 24mb
                    .product-card__futures--item
                        p Динамики
                        span да
                    .product-card__futures--item
                        p Вибромотор
                        span да
                    .product-card__futures--item
                        p Акселерометр
                        span да
                    .product-card__futures--item
                        p Датчик снятия с руки
                        span нет
                    .product-card__futures--item
                        p SOS
                        span Кнопка
                    .product-card__futures--item
                        p Запрет контента
                        span нет
                    .product-card__futures--item
                        p Разрешенные геозоны
                        span до 5 штук
                    .product-card__futures--item
                        p Совместимые ОС
                        span Android 4.4 и выше \ iOS 15 и выше
                    .product-card__futures--item
                        p Управляющее приложение
                        span ELARI SafeFamily
                    .product-card__futures--item
                        p Аудиомониторинг
                        span да
                    .product-card__futures--item
                        p Фотомониторинг
                        span да
                    .product-card__futures--item
                        p Текстовые сообщения
                        span нет
                    .product-card__futures--item
                        p Голосовые сообщения
                        span да
                    .product-card__futures--item
                        p Шагомер
                        span да
                    .product-card__futures--item
                        p Игры
                        span да
                    .product-card__futures--item
                        p ОС Устройства
                        span RTOS
                    .product-card__futures--item
                        p Вес товара без упаковки (г)
                        span 43,4
                    .product-card__futures--item
                        p Толщина корпуса
                        span 1.42см


